<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="windows-1251" />
  </head>
  <body>
    <div id="react-app">
    </div>
    <script src="/main.js"></script>
  </body>
</html>
