<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta charset="windows-1251" />
      <link rel="stylesheet" href=https://use.fontawesome.com/releases/v5.7.1/css/all.css>
  </head>
  <body>
    <div id="react-app">
    </div>
    <script src="/main.js"></script>
  </body>
</html>
